.example-container {
    top: 0;
    z-index: 1;
  }
  .mat-sidenav{
    background: rgb(19, 19, 18);
    width:230px;
    transform: translate3d(-100%,0,0)
  }
  .mat-list-item{
    color: white
  }
  .mat-sidenav-content{
    /* background: rgb(255, 255, 255); */
  }
  .mat-sidenav-container{
      position: relative;
      height: 100%;
  }
  .navLink{
    margin:0 40px;
    color:white;
    text-decoration: none;
  }
  .footerClass{
    background:rgba(240, 255, 149, 0.952);
    padding: 3% 3% 3% 5%;
  }
  .footerCopyright{
    background: rgb(232, 138, 255);    
  }
  .footerHeaderLink{
    font-size: 18px;
    color:red;
    font-weight: bold;

  }
  @media only screen and (min-width: 768px) {
      .mobile{
        display:none;
      }

  }

  @media only screen and (max-width: 767px) {
    .desktop{
      display:none;
    }
}

@media (min-width: 0px) and (max-width: 400px) {
  .mobile-center{
    text-align:center;
  }
}
