
<!-- <app-main-nav></app-main-nav> -->

<mat-sidenav-container  [hasBackdrop]="true">
  <mat-sidenav mode="over" position="end"  [(opened)]="opened" >
      <mat-toolbar color="primary"><b>JustSwipeNews</b></mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Home</mat-list-item>
      <mat-list-item role="listitem">Services</mat-list-item>
      <mat-list-item role="listitem">Careers</mat-list-item>
      <mat-list-item role="listitem">About Us</mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="example-container" color="primary">
          <b>JustSwipeNews</b>
          <mat-icon style="right:30px;position: fixed;cursor:pointer" class="mobile" (click)="opened=!opened">menu </mat-icon>
          <span style="float:right;position: fixed;right:5%" class="desktop">
              <a class="navLink" href="#">Home</a>
              <a class="navLink" routerLink="/Service" routerLinkActive="active">Services</a>
              <a class="navLink" href="#">Careers</a>
              <a class="navLink" href="#">About Us</a>
          </span>
      </mat-toolbar>
      
      <router-outlet></router-outlet>  
    <!-- <footer>
      <div class="footerClass ">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">      
               <span class="footerHeaderLink">Categories</span><br><br>
               <div class="mobile-center">
                 <a href="#">Business</a><br> 
                 <a href="#">Sports</a><br>
                 <a href="#">BollyWood</a><br>
                 <a href="#">Health & Fitness</a><br>
                 <a href="#">Politics</a><br><br>
                 </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">      
              <span class="footerHeaderLink">Trending</span><br><br>
              <div class="mobile-center">
                <a href="#">Arijit Singh</a><br> 
                <a href="#">Modi Sarkar</a><br>
                <a href="#">Virat Kohli</a><br>
                <a href="#">Amazon Forest</a><br>
                <a href="#">Engineers Day</a><br></div>
         </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6">
                <span class="footerHeaderLink">Quick Links</span><br><br>
                <div class="mobile-center">
                <a href="#">Home</a><br>
                <a href="#">Services</a><br>
                <a href="#">Testimonial</a><br>
                <a href="#">Careers</a><br>
                <a href="#">About Us</a><br></div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6">
              <span class="footerHeaderLink">Address</span><br><br>
              <div class="mobile-center">
              <p>201,203, Suren Rd, Gundavali,<br> Andheri East, Mumbai, <br>Maharashtra 400053</p></div>
          </div>
         </div>
        </div>

        <div class="footerCopyright text-center">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/angular/"> JustSwipeNews.com</a>
        </div>
    </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->