
<!-- <app-main-nav></app-main-nav> -->

<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav mode="side" position="end"  [(opened)]="opened">
    Sidenav content

  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <span>SomeThing</span>
          <mat-icon style="right:30px;position: absolute;cursor:pointer" class="mobile" (click)="opened=!opened">menu </mat-icon>
          <span style="float:right;position: relative;" class="desktop">
              <a style="margin:0 20px" href="#">Link 1</a>
              <a style="margin-right:20px" href="#">Link 2</a>
              <a href="#">Link 3</a>
          </span>
      </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->