<img src="../../assets/news.jpg" style="width: 100%"/>

<div class="container">
    <h1 class="text-center header"> Who We Are </h1>
    <p>JustSwipeNews is always on the look out for quality content to publish on our website. We would love to hear
        from our readers and if you have any stories, articles or ideas that you would like to share with our
        audiences, please let us know. You can use JustSwipeNews as a platform to get your message across.</p>
    
    <p>JustSwipeNews is always on the look out for quality content to publish on our website. We would love to hear
        from our readers and if you have any stories, articles or ideas that you would like to share with our
        audiences, please let us know. You can use JustSwipeNews as a platform to get your message across.</p>
</div>

<div class="container">
    <h1 class="header">News Reporters</h1>
    <div class="row">  
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/reporter1.jpg" alt="">
                <div class="overlay">
                <h2>Ravish Kumar</h2>
                <a class="info" href="https://en.wikipedia.org/wiki/Ravish_Kumar">link here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/reporter2.jpg" alt="">
                <div class="overlay">
                <h2>Arnab Goswami</h2>
                <a class="info" href="https://en.wikipedia.org/wiki/Arnab_Goswami">link here</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/reporter3.jpg" alt="">
                <div class="overlay">
                <h2>Sweta Singh</h2>
                <a class="info" href="https://en.wikipedia.org/wiki/Sweta_Singh">link here</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/reporter4.jpg" alt="">
                <div class="overlay">
                <h2>Sahil Khan</h2>
                <a class="info" href="https://en.wikipedia.org/wiki/Sahil_Khan">link here</a>
                </div>
            </div>
        </div>
    </div>
</div>